{% extends 'base.html'%}
{%load staticfiles %}



{% block content%}
<br/><br/>
<div class='container '>

  <h4><p class="text-muted ">
     <mark>Edit</mark> your Profile ! </p></h4>
    <hr/>
    </div>
<div class="container text-left">
<form method="post">
  {% csrf_token %}
  {% for field in form %}
          <div class="fieldWrappper ">
              {{ field.label_tag }}&nbsp;&nbsp;  {{ field }}
          </div>
      {% endfor %}
<div class="container">
<button type="submit">Submit</button>
</div>


  </form>
  <br/>
  </div>




{%endblock%}
